# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/7_mistery_fix.iml
.idea/misc.xml
.idea/modules.xml
.idea/preferred-vcs.xml
.idea/workspace.xml
.idea/vcs.xml
